<html>

<title>JumpStart</title>

<%= stylesheet_link_tag "stylesheets/main.css" %>

<body background="<%= asset_path('bkgrd.png') %>">

<form name = 'tools' action = 'fetch.php' method='get'>

<table>
	<tr>
		<th>Homebrew</th>
		<td><input type = 'checkbox' name = 'hb' size = '3' /></td>
	</tr>
	<tr>
		<th>Homebrew Versions</th>
		<td><input type = 'checkbox' name = 'hbVrsn' size = '3' /></td>
	</tr>
	<tr>
		<th>Homebrew Bundle</th>
		<td><input type = 'checkbox' name = 'hbBndle' size = '3' /></td>
	</tr>
	<tr>
		<th>Homebrew Cask</th>
		<td><input type = 'checkbox' name = 'hbCsk' size = '3' /></td>
	</tr>
	<tr>
		<th>XCode</th>
		<td><input type = 'checkbox' name = 'xCode' size = '3' /></td>
	</tr>
	<tr>
		<th>Latest OSX Software Updates</th>
		<td><input type = 'checkbox' name = 'osxUp' size = '3' /></td>
	</tr>
	<tr>
		<td><input type='submit' value='Submit'></td>
	</tr>
</table>

</form>

</body>

</html>